__pycache__/
*.pyc
*.ipynb_checkpoints
venv/
.env
.DS_Store
kaggle.json
inputs/mildew_dataset/cherry-leaves/train/
inputs/mildew_dataset/cherry-leaves/validation/
inputs/mildew_dataset/cherry-leaves/test/